<div class="container-fulid">
    <div class="header text-center">
        <h2>{{name}}</h2>
    </div>
    <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let item of dogslist" (click)="getimg(item.childname, item.name, item)" [ngClass]="{'active': selectedItem == item}">
                <a class="nav-link " href="#"> {{item.name}} {{item.childname}}</a>
            </li>
        </ul>
    </div>
    <div class="content ">
        <div class="text-center">
            <div class="img-content">
                <img class="image-rsponisve" src='{{img}}' alt="" />
            </div>
        </div>
    </div>
</div>